.searchContainer {
    background-color: #f0f2f5;
}
.boxContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    grid-gap: 24px;
}

.box {
    padding: 16px;
    background-color: white;
    text-align: center;
}

.box h5 {
    font-weight: 800;
}

.statistics {
    font-size: 42px;
    text-align: center;
    font-weight: 800;
}

.box5 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.box6 {
    grid-column-start: 3;
    grid-column-end: 5;
    /* background-color: blue; */
}

