
@import '~react-leaflet-markercluster/dist/styles.min.css';

 .mobile-trigger {
  cursor: pointer;
  transition: color 0.3s;
  position: absolute;
  top: 15px;
  left: 10px;
}
.web-trigger{
  cursor: pointer;
  transition: color 0.3s;
  position: absolute;
  top: 10px;
  right: 10px;
}


 .site-layout-content {
  position: relative;
  top:0;
  right:0;
  /* min-width: 120vh; */
}

.news-relay{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  padding: 65px 20px 20px 20px;
  background-color:rgba(0, 0, 0, 0.35);
  overflow-y: auto;
}

.newslist-wrapper ,.newsfeed-wrapper{
  overflow-y: auto;
  min-height: 10vh;
  max-height: 80vh;
  margin-top: 20px;
}

.newsfeed-list{
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  text-align: left;
  padding: 20px;
}
.site-layout-sider{
  height: 100vh;
}
/* .leaflet-left .leaflet-control{
 /* position:fixed;
 right: 20px; */
 /* top:40px; */
/* } */ 

.text-center{
  text-align: center!important;
}

.text-left{
  text-align: left!important;
}
.text-right{
  text-align: right!important;
}

.news-list-item{
  background:rgba(255, 255, 255, 1);
  color: #000 !important;;
  border-radius:5px;
  margin-bottom:10px;
  text-align:left;
  padding:10px;
}
.navBar-button{
  float: left;
}
.metamask-button{
   float: right;
}


.site-layout-header{
  position: fixed;
  top: 0;
  height: 0px !important;
  z-index: 1000;
  width: 100%;
  background-color:transparent;
}
.nav-button{
  width: 100%;
  text-align: left;
}

.chatBot{
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  box-shadow: 0px 0px 18px -2px rgba(0,0,0,0.67);
}
.ant-modal-body{
  padding: 0;
}


.p-1{
  padding: 10px;
}

.padding-20{
  padding: 20px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
.login-wrapper {
  padding-top: 180px;
  background: #ececec;
  height: 100vh;
}
.text-center {
  text-align: center;
}
.container {
  min-height: 90vh;
  height: 100%;
}

.margin-right-10{
  margin-right: 10px;
}
.margin-top-5{
  margin-top: 5px;
}
.margin-top-10{
  margin-top: 10px;
}

.leaflet-top{
  top: 50px !important;;
}

#nprogress .bar {
  height:6px;
}

.leaflet-control-geosearch form input{
  height: 30px !important;
}



/* Leaflet Pupop */

.leaflet-container a.leaflet-popup-close-button{   
    position: absolute;
     top: -16px !important;
     right: -13px !important;
     padding: 6px !important;
     text-align: center;
     width: 28px !important;
     height: 28px !important;
     color: #227ec9 !important;
     font-weight: 400 !important;
     border-radius: 100%;
     background: #fff !important;
     box-shadow: 0 2px 4px 0 rgb(0 0 0 / 24%) !important;
 }
 .leaflet-popup-content-wrapper{
   border-radius:5px !important;
   padding: 0 !important;
   margin-left: 0px !important;
 }
 .leaflet-popup-content{
  margin:0 !important;
}
.leaflet-popup-tip-container {
  margin-left: 0 !important;
}

.white-mode,.dark-mode,.color-mode{
  min-height: 150px;
  min-width: 200px;
  max-height: 250px;
  overflow-y: scroll;
  border-radius: 5px;
}
.white-mode{
  background-color: #fff;
  color:#000
}
.dark-mode{
  background-color: #333;
  color:#fff;
}
.leaflet-popup-tip{
  background-color: #aaa;
}

.popup-bold{
  font-weight: 550;
}

.popup-header{
  min-height: 60px;
  background-color: #35aae5;
  color:#fff

}
.margin-0{
  margin: 0 !important;
}
.padding-0{
  padding:0 !important;
}
.padding-10{
  padding:10 px !important;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa; 
  border-radius: 5px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
  border-radius: 5px;

}



.selectedBox{
  border:2px solid rgb(184, 172, 172) !important;
}




.ant-modal {
  width: 100%;
  border: none;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px,
    rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;
    border-radius: 10px;
    padding:0 ;
}


.ant-modal-content {
  background-color:transparent;
box-shadow: rgb(0 0 0 / 5%) 0px 4px 8px 0px;
}
.ant-modal-header{
  background-color: transparent;
  border-bottom: none;

}



.margin-right-5{
  margin-right:5px ;
}